$white: #FFFFFF;
$black: #000000;
$gray: #ebebeb;
$overlay-color: #193747;
$accent: #4fb1ba;
$text-color: #333;
$muted: #666;

$red: #ee5f5b;
$blue: #19B5FE;
$yellow: #f89406;
$aqua: #7FDBFF;

$sidebar-width: 21rem;

$base-font: "Noto Sans", Helvetica, Arial, sans-serif;
$heading-font: "Roboto Slab", Georgia, serif;
$code-font: ui-monospace, "Fira Code", monospace;
// break point
$small: 750px;
$sidebar-break: 64em;