<div class="sidebar-inner">
  <div class="sidebar-avatar">
    <a href="{{ site.url }}">
      <img src="{{ site.url }}/{{ site.logo }}" alt="{{ site.title }}" class="sidebar-avatar-img" />
    </a>
  </div>
  <div class="sidebar-title">
    <h1 class="sidebar-name"><a href="{{ site.url }}">{{ site.title }}</a></h1>
    <p class="sidebar-tagline">{{ site.description }}</p>
  </div>
  <nav class="sidebar-nav">
    {% include links.html %}
  </nav>
  <div class="sidebar-social">
    {% include social-links.html %}
  </div>
</div>
