---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body id="posts" class="inner-post-page">
  <div class="bg-deco"></div>
  {% include header.html %}

  <article class="page-wrap">
    <div class="post-head">
      <h1>{{ page.title }}</h1>
      {% if page.description %}<div class="meta"><span>{{ page.description }}</span></div>{% endif %}
    </div>

    <div class="inner-post">
      {{ content }}
      {% include page-pagination.html %}
    </div>
  </article>

  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
