---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body id="posts" class="inner-post-page">

  <div class="block-left">
    <div class="content">

      {% include left.html%}

      <div class="post-title-section">
        <div class="section-line">{{ page.title }} <em>/</em></div>
      </div>
    </div>
  </div>

  <div class="block-right">
    <div class="inner-post content">
      <div class="date-highlight">{% if page.date %}{{ page.date | date: '%d %b %Y' }}{% else %}&#x2756;{% endif %}</div>
      {{ content }}
      <br>
      {% include page-pagination.html %}
    </div>
  </div>
  {% include scripts.html %}
</body>

</html>