---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body id="posts" class="inner-post-page">
  <div class="bg-deco"></div>
  {% include header.html %}

  <article class="page-wrap">
    <div class="post-head">
      <div class="kicker">Article</div>
      <h1>{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
      <div class="meta">
        {% if page.date %}<span>{{ page.date | date: '%d %b %Y' }}</span>{% endif %}
        {% if page.tags %}<ul class="tags">{% for tag in page.tags %}<li><a href="{{ site.url }}/tags#{{ tag }}">{{ tag }}</a></li>{% endfor %}</ul>{% endif %}
      </div>
    </div>

    {% if page.image %}
    {% capture hero_img %}{% if page.image contains '://' %}{{ page.image }}{% else %}{{ site.url }}/{{ page.image }}{% endif %}{% endcapture %}
    <div class="post-hero-img" style="background-image:url({{ hero_img }})"></div>
    {% endif %}

    <div class="inner-post">
      {{ content }}
      {% include page-pagination.html %}
      {% include disqus.html %}
    </div>
  </article>

  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
