---
layout: default
---
<div class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>

        <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}
            {%if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article class="post-content">
        {{ content }}
    </article>

</div>

{% if page.comments %}
<div id="disqus_thread"></div>
<script>

    var disqus_shortname = 'gmaslowski';
    var disqus_identifier = "{{ site.disqusid }}{{ page.url | replace:'index.html','' }}";

    (function () {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//gmaslowski.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
{% endif %}
