---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body id="posts">
  <div class="bg-deco"></div>
  {% include header.html %}

  <article class="page-wrap">
    <div class="post-head">
      <div class="kicker">Tinkering</div>
      <h1>{{ page.title }}</h1>
      {% if page.description %}<div class="meta"><span>{{ page.description }}</span></div>{% endif %}
    </div>

    <ul class="project-showcase">
      {% for post in site.posts %}
      {% if post.category == 'project' %}
      <li class="project-row">
        {% if post.image %}
        <a class="project-figure" href="{{ post.link }}">
          <img src="{{ site.url }}/{{ post.image }}" alt="{{ post.title | strip_html }} graphic" loading="lazy">
        </a>
        {% endif %}
        <div class="project-info">
          <span class="project-date">{{ post.date | date: '%d %b %Y' }}</span>
          <h2><a href="{{ post.link }}">{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</a></h2>
          <p>{{ post.description }}</p>
          <a class="project-link" href="{{ post.link }}">View project &rarr;</a>
        </div>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </article>

  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
